.Keypad {
  align-items: center;
  background-color: #99e2e1;
  border: 1px solid #99e2e1;
  border-radius: 15px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  margin: 10px auto;
  max-width: 100%;
  padding: 10px;
}
