.Keypad {
  background-color: #99e2e1;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(5, 1fr);
  grid-gap: 10px;
  height: calc(100% - 100px);
  margin: 0 10px;;
  width: 94%;
}